<div>

  <form  #inputForm="ngForm"  class="container-fluid">

    <!-- Medikament -->
    <div class="row">
      <div class="col-sm-4">
        <label>Wirkstoff</label>
      </div>
      <div class="col-sm-8">
        <app-multiselect (onMediNameSelected)="onMediNameSelected($event)"></app-multiselect>       
      </div>
    </div>

    <!-- Konzentration -->
    <div class="row"  [hidden]="!((medisForMediName | async)?.length > 1)">
      <div class="col-sm-4">
        <label>Konzentration</label>
      </div>
      <div class="col-sm-8">
        <select  name="mediId"   (change)="onMediIdSelected($event)">
          <option value="0">bitte wählen</option>
          <option *ngFor="let medi of medisForMediName | async" 
                  [ngValue]="medi.Id" 
                  [value]="medi.Id">{{medi.Concentration}} {{medi.DenominatorUnit}}/{{medi.Unit}} 
          </option>
        </select>       
      </div>
    </div>

    <!-- Gewicht -->
    <div class="row">
      <div class="col-sm-4">
        <label>Gewicht (kg)</label>
      </div>
      <div class="col-sm-8">
        <input  [(ngModel)]="weight" 
                ngModel #weightControl="ngModel"    
                placeholder="Gewicht" 
                type="number" 
                name="weight"
                required/>
        
        <div *ngIf="(weightControl.dirty || weightControl.touched) && weightControl.errors && weightControl.errors.required" class="alert alert-danger">
              Gewicht ist ein Mussfeld
        </div>

      </div>
    </div>

    <!-- Dosierung -->
    <div class="row">
      <div class="col-sm-4">
        <label>gew. Dosierung ({{(medi)?.DenominatorUnit}}/kg)</label>
      </div>
      <div class="col-sm-8">
        <input 
          [(ngModel)]="dose"          
          ngModel #doseControl="ngModel"           
          placeholder="Dosierung" 
          type="number" 
          name="dose"         
          required   
          validateRange
          [from]="medi?.MinDose"  
          [to]="medi?.MaxDose"     
          />       

        <div *ngIf="(doseControl.dirty || doseControl.touched)">

            <div *ngIf="doseControl.errors && doseControl.errors.required" class="alert alert-danger">
              Dosierung ist ein Mussfeld
            </div>

            <div *ngIf="doseControl.errors && doseControl.errors.tooBig" class="alert alert-danger">
               Wert darf nicht grösser sein als {{medi?.MaxDose}}
            </div> 
                                                       

           <div *ngIf="doseControl.errors && doseControl.errors.tooSmall" class="alert alert-danger">
               Wert darf nicht kleiner sein als {{medi?.MinDose}}
            </div>  
                 
        </div>

      </div>
    </div>    

  </form>
  <hr/>

  <div class="container-fluid" >
  
    <!-- Mediname -->
    <div class="row"  *ngIf="mediName">
      <div class="col-sm-4">
        <label>Wirkstoff</label>  
      </div>

      <div class="col-sm-8">
        {{mediName}}
      </div>
    </div>

    <!-- Konzentration -->
    <div class="row" [hidden]="!((medi)?.Concentration > 0)">
      <div class="col-sm-4">
        <label>Konzentration</label>  
      </div>

      <div class="col-sm-8">
        {{(medi)?.Concentration}} {{(medi)?.DenominatorUnit}}/{{(medi)?.Unit}}
      </div>
    </div>

    <!-- Gewicht -->
    <div class="row" *ngIf="weight">
      <div class="col-sm-4">
        <label>Gewicht</label>  
      </div>

      <div class="col-sm-8">
        {{weight}} kg
      </div>
    </div>

    <!-- Dosierung -->
    <div class="row" *ngIf="dose">
      <div class="col-sm-4">
        <label>gew. Dosierung</label>  
      </div>

      <div class="col-sm-8">
        {{dose}}  {{(medi)?.DenominatorUnit}}/kg
      </div>
    </div>

    <!-- Min Max Dosierung -->
    <div class="row" [hidden]="!((medi)?.Concentration > 0)">
      <div class="col-sm-4">
        <label>Mögliche Dosierung</label>  
      </div>

      <div class="col-sm-8">
        von {{(medi)?.MinDose}} bis {{(medi)?.MaxDose}}
        {{(medi)?.DenominatorUnit}}/kg
      </div>
    </div>

    <!-- Menge -->
    <div class="row resultline" *ngIf="quantity() && ((medi)?.Concentration > 0)">
      <div class="col-sm-4">
        <label>Menge</label>   
      </div>

      <div class="col-sm-8">
        <b>{{quantity()}} {{(medi)?.Unit}}</b>
      </div>
    </div>

   

  </div>

</div>
